.alice-carousel__dots-item {
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    &.__active {
        background-color: rgb(255, 255, 255);
    }
    &:hover {
        background-color: rgb(255, 255, 255);
    }
}

.alice-carousel__dots {
    display: none;
    @media (min-width: 721px) {
        display: inherit;
    }
    text-align: left;
}
