.contato {
    //background-color: #fff;
    padding: 2rem 11% 2rem 11%;
    grid-column: 1 / span 5;
    width: 100%;
    height: auto;
    a:hover {
        color: #fff;
    }
}

.container {
    @media (min-width: 721px) {
        margin-top: 75px;
    }
    margin: 20px 0 45px 0;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    flex-flow: row wrap;
    div {
        @media (min-width: 600px) {
            margin-right: 65px;
        }
        margin-right: 0px;
    }
}

.titulo {
    @media (min-width: 721px) {
        margin-bottom: 5%;
    }
    margin-bottom: 3rem;
    width: 100%;
    span {
        display: flex;
        width: 100px;
        border-bottom: 3px solid #fff;
        margin-top: 15px;
    }
}

.subtitulo {
    color: #fff;
  }

