.footer {
  background: #333333;
  padding: 2rem 11% 2rem 11%;
  grid-column: 1 / span 5;
  width: 100%;
  height: auto;
}

.container {
  @media (min-width: 721px) {
    margin-top: 75px;
  }
  margin: 20px 0 45px 0;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.logoufrj {
  height: auto;
  @media (min-width: 600px) {
    margin-right: 65px;
  }
  margin-right: 0px;
  img {
    object-fit: cover;
    height: 185px;
  }
}

.logos{
  @media (min-width: 400px) {
    width: auto;
  }
  @media (min-width: 400px) {
    width: auto;
  }
  width: 220px;
}

.sublogos {
  .logocoordcom {
    height: 60px;
    @media (min-width: 400px) {
      padding-right: 60px;
    }
    padding-right: 0px;
  }
  .logotic {
    height: 60px;
    padding-right: 0px;
  }
}

.subtitulo {
  margin-top: 20px;
  color: #fff;
  margin-bottom: 45px;
  span {
    display: flex;
    width: 100px;
    border-bottom: 3px solid #fff;
    margin-top: 15px;
  }
}