@import './colors';

$primaria: white;
$branco: #000;

.alice-carousel__dots-item {
    width: 12px;
    height: 12px;
    background-color: branco;
    border: 2px solid rgba( $branco, 0.4);
    &.__active {
        background-color: $branco;
    }
    &:hover {
        background-color: $branco;
    }
    @media (min-width: 721px) {
        width: 15px;
        height: 15px;
    }
    &:not(:last-child) {
        @media (min-width: 721px) {
            margin-right: 14px;
        }
        margin-right: 0;
    }
}

.alice-carousel__dots {
    display: flex;
    @media (min-width: 721px) {
        display: inherit;
    }
    text-align: left;
    padding: 0;
    line-height: 0.6rem;
    justify-content: space-between;
    margin: 15px 0 0 0;
}
