.nav {
  @media (min-width: 850px) and (min-height: 850px) {
    visibility: visible;
  }
  visibility: hidden;
  z-index: 9990;
  background: rgb(255, 255, 255);
  padding: 1.5rem;
  text-align: end;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.7);
  }
  a:last-child {
    border-right: none;
  }
}