.nav {
  z-index: 1;
  background: rgb(255, 123, 0);
  padding: 1.5rem;
  text-align: end;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.7);
  }
  a:last-child {
    border-right: none;
  }
}