.container {
    grid-column: 1 / span 5;
    display: block;
    width: 100%;
    min-height: 50vh;
    height: auto;
    @media (min-width: 1550px) {
        padding: 0 8% 0 0;
    }
    padding: 2rem 10px 2rem 0;
    p {
        margin-bottom: 0px;
    }
    .por, .info {
        color: #5e5e5e;
        i {
            font-size: 0.8rem;
            padding-right: 5px;
        }
    }
    div {
        border: 2px solid #FBB03B;
        border-radius: 3px;
        padding: 3rem;
        min-height: 410px;
    }
}

.subtitulo {
    span {
        display: flex;
        width: 100px;
        border-bottom: 3px solid #FBB03B;
        margin-top: 15px;
    }
}

.horario, .data {
    padding-right: 15px;
}

.local {
    display: inline-block;
    font-style: normal;
}

.texto {
    margin-top: 1.75rem;
}
