@import './colors';

$primaria: #FBB03B;
$branco: white;
$preto: black;

.cellhead {
    border-bottom: 3px solid $preto;
    @media (min-width: 1170px) {
        width: 15%;
        padding-right: 1.67rem;
        text-align: right;
        vertical-align: inherit;
    }
    width: 35%;
    padding-right: 0px;
    text-align: center;
    vertical-align: text-top;
}

.cell {
    border-bottom: 2px solid rgba($preto, 0.3);
}