.sobre {
    grid-column: 1 / span 5;
    display: grid;
    @media (min-width: 721px) {
        grid-template-columns: 20% repeat(5 , 1fr) 20%;
        margin-top: 0;
        margin-bottom: 0;
    }
    margin-top: -20%;
    margin-bottom: 10%;
    grid-template-columns: 10% repeat(5 , 1fr) 10%;
    grid-auto-rows: auto;
    width: 100%;
    min-height: 100vh;
    height: auto;
}

.texto {
    @media (min-width: 721px) {
        grid-column: 3 / span 3;
    }
    grid-column: 2 / span 5;
    align-self: center;
}

